practica_couchdb/nosql_pouchdb_bdfi/node_modules
practica_mongo/node_modules
practica_pipelines/node_modules
practica_replicacion/nosql_practica5_bdfi/node_modules
practica_replicacion/data_patients
practica_pipelines/samples.json